---
title: Current Projects
layout: page
order: 1
---

{% for project in site.data.projectList %}
  <div class="pure-g">
    <div class="project-grid">
      <div class="pure-u-1 pure-u-md-1-2">
        <h3><a href="{{project.link}}">{{project.name}}</a></h3>
          <p>{{project.short_description}}</p>
          <p><b>Position</b>: {{project.position}}</p>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        {% if project.image %}
          <a href="{{project.image}}"><img class="pure-img" src="{{project.image}}" alt="{{project.image}}"></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
