<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../css/print.css" media="print" />

    <title>Adventure by Bryce Mehring</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Adventure</h1>
        <h2>A space adventure</h2>

        <section id="downloads">
          <a href="http://ci.brycemehring.me/downloads/" class="btn">Download as .zip</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>
<a name="adventure---a-space-adventure" class="anchor" href="#adventure---a-space-adventure"><span class="octicon octicon-link"></span></a>Adventure - A space adventure</h1>

<h2>
<a name="controls" class="anchor" href="#controls"><span class="octicon octicon-link"></span></a>Controls</h2>

<h3>
<a name="game-management" class="anchor" href="#game-management"><span class="octicon octicon-link"></span></a>Game management:</h3>

<ul>
<li>ESC: change the game state to the plugin loader. If in the plugin loader, ESC will exit the game.</li>
<li>F1: toggle rendering of the quadtree</li>
<li>F5: toggle V-sync</li>
<li>F6: toggle FPS</li>
</ul><h3>
<a name="unit-movement" class="anchor" href="#unit-movement"><span class="octicon octicon-link"></span></a>Unit Movement:</h3>

<ul>
<li>Select units by left clicking on them or by the selection box.</li>
<li>Move units selected by right clicking on their destination. This destination is just a hint.</li>
<li>Pressing the delete key while having units selected will be destroyed.</li>
</ul><h3>
<a name="camera-movement" class="anchor" href="#camera-movement"><span class="octicon octicon-link"></span></a>Camera Movement:</h3>

<ul>
<li>The camera can zoom in and out by using the mouse scroll.</li>
<li>Arrow keys along with moving the mouse to the edge of the screen move the camera.</li>
</ul><h3>
<a name="System-Requirements" class="anchor" href="#System-Requirements"><span class="octicon octicon-link"></span></a>System Requirements:</h3>

<ul>
<li>Video Card: OpenGL 3.3 support</li>
</ul>
      </section>
    </div>

    
  </body>
