<div class="container-fluid">
  <div class="projects row justify-content-center">
    {% for group in site.data[include.group] %} {% assign project = site.data.projectDescriptions[group] %}
    <div class="project border p-3 m-3 shadow rounded">
      <div class="col-sm">
        <h3>
          <a href="{{project.link}}">{{project.name}}</a>
        </h3>
        <p>{{project.short_description}}</p>
        <p>
          <b>Position</b>: {{project.position}}</p>
      </div>
      <div class="col-sm">
        {% if project.images %} {% include project-thumbnail.html project=group %} {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>