$font-family-base: 'Open Sans Variable', sans-serif;
$color-mode-type: media-query;
$breadcrumb-bg: var(--bs-tertiary-bg);
$breadcrumb-active-color: var(--bs-emphasis-color);
$breadcrumb-padding-x: 0.5rem;
$breadcrumb-padding-y: 0.5rem;
