---
import BaseLayout from '@components/layout.astro';
---

<BaseLayout title="404">
  <div class="container">
    <h1>Not found</h1>
    <p>You just hit a route that doesn't exist</p>
  </div>
</BaseLayout>
