---
import BaseLayout from '../components/layout.astro';
import Projects from '../components/projects.astro';
---

<BaseLayout>
  <div class="container">
    <div class="jumbotron rounded">
      <h1 class="display-4 text-center">Bryce Mehring</h1>
      <p class="lead">
        I'm Bryce Mehring and I love developing video games that create
        meaningful experiences. These are games that I'm involved in.
      </p>
    </div>
  </div>
  <Projects />
</BaseLayout>
