@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

.footer {
  border-top: 1px solid #d0d0d0;
  padding: 35px 0;
  ul {
    list-style: none;
    margin-left: 0;
  
    li {
      margin-right: 1em;
      margin-bottom: 0.5em;
      display: inline-block;
    }
  
    svg {
      color: $black;
      margin-right: 0.15rem;
    }
  }
}