---
import Picture from './picture.astro';
import { getEntry } from 'astro:content';

interface Props {
  id: string;
  showOnMain?: boolean;
}

const { id, showOnMain } = Astro.props;

const entry = await getEntry('projects', id);
const image = entry?.data.image;
---

{
  showOnMain && image && (
    <div class="col-10">
      <Picture
        src={image.source}
        alt={image.alt}
        width={image.source.width}
        height={image.source.height}
      />
    </div>
  )
}
