@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 17.5px;
}

h3 {
  margin-bottom: 17.5px;
}

li > p {
  margin-bottom: 0; // fixes https://github.com/remarkjs/remark bug
}

iframe {
  display: block;
  max-width: 100%;
}